.sort-select {
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  font: inherit;
  width: 100%;
  height: 33px;
  padding: 5px 25px;
  margin: 10px 0;
  margin-bottom: 10px;
  background-color: #183230;
  background-image: url('/assets/svg/arrow-down.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  border-radius: 20px;
  border: 1px solid #285551;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  cursor: pointer;
}
